@{
	ViewData["Title"] = "Confirmation";
}
@model Mission06_Kim.Models.Movie

<!--Confirmation page, displays the title of the movie to let the user know which one they have just submitted.-->
<h1>Congrats! The movie @Model.Title has been submitted.</h1>